html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
}

/* header name sections */

h2 {
    margin-bottom: 50px;
}

/* city autocomplete text box area */

.destination {
    margin-left: 20px;
}

#autocomplete {
    width: 220px;
    margin-top: 25px;
    margin-left: 135px;
    display: flex;
    text-align: center;
}

/* points of interest area */

#button {
    margin-left: 30px;
    margin-bottom: 20px;
}

#poibuttons {
    margin: 20px;
    line-height: 3;
    font-size: 15px;
}

.btn {
    border-radius: 10px;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* results area */

#resultsdropdown {
    margin: 20px;
    max-width: 100%
}

#listing {
  position: initial;
  width: 100%;
  height: 298px;
  overflow: auto;
  top: 70px;
  cursor: pointer;
  overflow-x: hidden;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

/* map area */

#map {
    width: 100%;
    height: 46vh;
    text-align: center;
}